# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Miriam\Desktop\JAVA\9.Spring\Ia-maNene\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Intellij
.idea/
*.iml
*.iws
.maven-status/
# Mac
.DS_Store
# Maven
log/
target/