html,
body {
    height: 100%;
}

body {
    display: block;
    align-items: center;
    padding-top: 40px;
    background: rgb(201,218,218);
    background: radial-gradient(circle, rgba(201,218,218,1) 0%, rgba(136,189,188,1) 53%, rgba(121,176,175,1) 100%);

}
.navbar {
    background-color: white !important}

#navBar {
    margin-top: -40px;
    position: sticky;
}

.navbar .navbar-nav li a {
    color: #254e58 !important

}
.navbar .nav-item .dropdown-menu .dropdown-item {
     color: #254e58 !important
 }
.w-100 {
    background-color: #254e58;
    color: whitesmoke;
}
.h3{
    color: whitesmoke;
}
.mb-4{
    border-radius: 10px;
}
.navbar .nav-item .dropdown-menu{
    background-color: white;
}
#footer{
    position: fixed;
    background-color: whitesmoke ;
    text-align: center !important;
    bottom: 0;
    width: 100%;
}
#carAdd{
    color: whitesmoke;
    font-weight: 500;
    font-size: 18px;
}
#congrats {
    background: 50% 100% / 50% 50% no-repeat
radial-gradient(ellipse at bottom, #fff, transparent, transparent);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
animation: reveal 3000ms ease-in-out forwards 200ms,
                                                 glow 2500ms linear infinite 2000ms;}

@keyframes reveal {
    80%{
        letter-spacing: 8px;
    }
    100% {
        background-size: 300% 300%;
    }
}
@keyframes glow {
    80% {
        text-shadow: 0 0 8px #fff;
    }
}

#footer .mt-5 {
    margin-top: 5px !important;
}
