<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Gaseste o cursa </h1>

<form method="get" th:action="@{/found-rides}">
    <label for="departureCity">Orasul de plecare</label>
    <input type="text" id="departureCity" th:name="departureCity" >
    <br>
    <br>

    <label for="arrivalCity"> Orasul de sosire</label>
    <input type="text" id="arrivalCity" th:name="arrivalCity">
    <br>
    <br>

    <label for="departureDate">Data de plecare</label>
    <input type="date" id="departureDate" th:name="departureDate">
    <br>
    <br>

    <input type="submit" value="Cauta">
</form>
</body>
</html>

