<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Cursele gasite </h1>
<table>
    <tr>
        <th>  Orasul de plecare.</th>
        <th > Orasul de sosire</th>
        <th > Data</th>
        <th > Ora de plecare</th>
        <th > Locuri disponibile </th>
    </tr>

    <tr th:each = "foundRide: ${foundRides}">
        <td th:text ="${foundRide.getDepartureCity()}"></td>
        <td th:text ="${foundRide.getArrivalCity()}"></td>
        <td th:text ="${foundRide.getDepartureDate()}"></td>
        <td th:text ="${foundRide.getDepartureTime()}"></td>
        <td th:text ="${foundRide.getAvailableSeats()}"></td>

        <td>
            <a th:href ="@{'/select-ride/' + ${foundRide.getRideId()}}" > Selecteaza </a> <br>

        </td>
    </tr>
</table>

<br>
</body>
</html>