<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <h3>Cursele publicate</h3>
    <tr>
        <th> Nr. Crt.</th>
        <th> Orasul de plecare</th>
        <th> Orasul de sosire</th>
        <th> Data</th>
    </tr>

    <tr th:each=" ride,iter : ${user.getRides()}">
        <td th:utext="${iter.count}"></td>
        <td th:text="${ride.getDepartureCity()}"></td>
        <td th:text="${ride.getArrivalCity()}"></td>
        <td th:text="${ride.getDepartureDate()}"></td>

        <td>
            <a th:href="@{'/edit-ride/' + ${ride.getRideId()}}"> Modifica datele </a> <br>
            <a th:href="@{'/delete-ride/' + ${ride.getRideId()}}"> Sterge cursa </a>
        </td>
    </tr>
</table>

<table>
    <h3>Cursele rezervate</h3>
    <tr>
        <th> Nr. Crt.</th>
        <th> Orasul de plecare</th>
        <th> Orasul de sosire</th>
        <th> Data</th>
        <th> Locuri rezervate</th>
    </tr>

    <tr th:each=" rideBooked,iter : ${user.getBookingList()}">
        <td th:utext="${iter.count}"></td>
        <td th:text="${rideBooked.getRide().getDepartureCity()}"></td>
        <td th:text="${rideBooked.getRide().getArrivalCity()}"></td>
        <td th:text="${rideBooked.getRide().getDepartureDate()}"></td>
        <td th:text="${rideBooked.getBookedSeats()}" th:name="bookedSeats"
            th:value="${rideBooked.getBookedSeats()}"></td>

        <td>
            <!--&lt;!&ndash;            <a th:href ="@{'/edit-car/' + ${car.getCarId()}}" > Modifica datele </a> <br>&ndash;&gt;-->
            <a th:href="@{'/delete-booking/' + ${rideBooked.getBookingId()}}"> Anuleaza rezervarea </a>
        </td>
    </tr>
</table>

<br>
</body>
</html>